@font-face {
    font-family: neoLight;
    src: url(./neoLight.ttf);
}
@font-face {
    font-family: neo;
    src: url(./neo.ttf);
}

:root{
    --salmon: salmon;
    --black:black;
    --white:white;
    --cyan:#AEDEE0;
    --dsalmon: rgb(80, 41, 37);
--dcyan:rgb(0, 54, 54);
    
}
*::selection{
    background-color: var(--salmon);
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}
body[theme="black"]{
    background-color:var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}
body[theme="cyan"]{
    background-color:var(--cyan);
}
body[theme="cyan"] .section{
    color:var(--dcyan);
}
body[theme="white"]{
    background-color:var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}
body[theme="salmon"]{
    background-color:var(--salmon);
}
body[theme="salmon"] .section{
    color:var(--dsalmon);
}